doctype html
html(lang='en')
  head
    title My Starter Kit
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='assets/img/favicons/favicon.ico')
    link(rel='stylesheet', href='assets/css/main.css')
    //- Fonts
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700")
        
  body
    .container
      .calendar
          .header
            .date 9
            h1.weekday Tuesday
            .btn-done +

          hr
          h1.year 2015
          hr

          .month-nav
            .btn-prev <
            h1.month January
            .btn-next >
          hr

          .day-numbers
            h3 Mon
            h3 Tue
            h3 Wed
            h3 Thu
            h3 Fri
            h3 Sat
            h3 Sun

            hr

            h3 29
            h3 30
            h3 31
            h3.done 1
            h3 2
            h3 3
            h3 4
            h3 5
            h3.note 6
            h3 7
            h3.done 8
            h3.today 9
            h3 10
            h3 11
            h3 11 
            h3 11 
            h3 11 
            h3 11 
            h3 11 
            h3 11 
            h3 11 
            h3 11 
            h3 11 
            h3 11 
            h3 11 
            h3 11 
            h3 11 
            h3 11 

          hr

          
        
      
      
      script(src='assets/js/jquery-2.1.4.min.js')
      script(src='assets/js/functions.js', type='text/javascript')
